# IMPORTANT NOTES

### DATA
The databases (.csv files) go into the *data* folder. **1 .csv file per database.** Make sure the selected databases are not too similar. Just replace the respective headers/fields in the create tables query function to match the .csv files

### POSTGRES
Make sure you have pg4admin installed and running. **You'll need to change the password** in the psycopg2 to match what you have on your end so its accessible.
If ever the error about other users accessing the database pops up, just **force delete** it in pg4admin

For everything else, there are comments included within the cell to explain everything !

In [1]:
# setting up SQL
%reload_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [2]:
# importing libraries
import psycopg2
from sql import *

## Setting Up the Database
*will need to edit the passwords here*

In [3]:
# database creation, connection to pg4 and establishing the cursor
def create_database():
    """
    - Creates and connects to the medicaldb
    - Returns the connection and cursor to medicaldb
    """

    # connect to default database
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=ravioli")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    # create healtmedicalRecordDB database with UTF8 encoding
    cur.execute("DROP DATABASE IF EXISTS medicaldb")
    cur.execute("CREATE DATABASE medicaldb WITH ENCODING 'utf8' TEMPLATE template0")

    # close connection to default database
    conn.close()

    # connect to medicalRecordDB database
    conn = psycopg2.connect("host=127.0.0.1 dbname=medicaldb user=postgres password=ravioli")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    return cur, conn

In [4]:
# SQL queries mentioned in the previous cell

# hospA = hospital we are taking data FROM
# orgData = organized data using OUR OWN FORMAT
# hospB = hospital we are sending data TO 

# data from hospA in formatA -> our format -> data from hospA in formB
# data from hospB in formatB -> our format -> data from hospB in formA

# capital letters like CREATE are SQL keywords

# DROP TABLES (to remove tables from previous iterations, prevent duplicates)

hospA_table_drop = "DROP TABLE IF EXISTS hospA"
formA_table_drop = "DROP TABLE IF EXISTS formA"
orgData_table_drop = "DROP TABLE IF EXISTS orgData"
hospB_table_drop = "DROP TABLE IF EXISTS hospB"
formB_table_drop = "DROP TABLE IF EXISTS formB"

# CREATE TABLES
# format is:
# [field name] [data type] [key (if appliable)]
# primary key acts as the unique identifier. ALWAYS INCLUDE

hospA_table_create = ("""
    CREATE TABLE IF NOT EXISTS hospA (
        patient_id SERIAL PRIMARY KEY,
        age INT,
        gender VARCHAR,
        race TEXT,
        height_cm INT,
        weight_kg INT,
        bmi INT,
        blood_pressure_systolic INT,
        blood_pressure_diastolic INT,
        cholesterol_total INT,
        cholesterol_hdl INT,
        cholesterol_ldl INT,
        smoker INT,
        diabetes INT,
        heart_disease INT,
        medications TEXT,
        procedures TEXT
    )
""")

# the eventual output (where the data from hospB will go)
formA_table_create = ("""
    CREATE TABLE IF NOT EXISTS formA (
        patient_id SERIAL PRIMARY KEY,
        age INT,
        gender VARCHAR,
        race TEXT,
        height_cm INT,
        weight_kg INT,
        bmi INT,
        blood_pressure_systolic INT,
        blood_pressure_diastolic INT,
        cholesterol_total INT,
        cholesterol_hdl INT,
        cholesterol_ldl INT,
        smoker INT,
        diabetes INT,
        heart_disease INT,
        medications TEXT,
        procedures TEXT
    )
""")

orgData_table_create = ("""
    CREATE TABLE IF NOT EXISTS orgData (
        entry_id SERIAL PRIMARY KEY,
        date_of_entry DATE,
        reason_for_admission TEXT,
        symptoms TEXT,
        assignment TEXT,
        status TEXT,
        date_of_last_status_update DATE,
        treatment_plan TEXT,
        diagnosis TEXT,
        name TEXT,
        address TEXT,
        sex VARCHAR,
        age INT,
        risk_factors TEXT,
        comorbidities TEXT,
        past_diagnoses TEXT,
        past_procedures TEXT,
        medications TEXT,
        height_cm INT,
        weight_kg INT,
        blood_type VARCHAR,
        blood_pressure_systolic INT,
        blood_pressure_diastolic INT,
        body_temp INT,
        pulse INT,
        date_of_vitals_measurement DATE,
        lab_results TEXT,
        date_of_lab_results DATE,
        clinical_notes TEXT
    )
""")

hospB_table_create = ("""
    CREATE TABLE IF NOT EXISTS hospB (
        patient_id SERIAL PRIMARY KEY,
        name TEXT,
        age INT,
        gender VARCHAR,
        ethnicity TEXT,
        medical_condition TEXT,
        symptoms TEXT,
        clinical_notes TEXT
        
    )
""")

formB_table_create = ("""
    CREATE TABLE IF NOT EXISTS formB (
        patient_id SERIAL PRIMARY KEY,
        name TEXT,
        age INT,
        gender VARCHAR,
        ethnicity TEXT,
        medical_condition TEXT,
        symptoms TEXT,
        clinical_notes TEXT
    )
""")

# INSERT RECORDS
# number of %s in VALUES must correspond to number of fields in that table

hospA_table_insert = ("""
    INSERT INTO hospA (patient_id, age, gender, race, height_cm, weight_kg, bmi, blood_pressure_systolic, blood_pressure_diastolic, cholesterol_total, cholesterol_hdl, cholesterol_ldl, smoker, diabetes, heart_disease, medications, procedures)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
""")

formA_table_insert = ("""
    INSERT INTO hospA (patient_id, age, gender, race, height_cm, weight_kg, bmi, blood_pressure_systolic, blood_pressure_diastolic, cholesterol_total, cholesterol_hdl, cholesterol_ldl, smoker, diabetes, heart_disease, medications, procedures)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
""")

orgData_table_insert = ("""
    INSERT INTO orgData (entry_id, date_of_entry, reason_for_admission, symptoms, assignment, status, date_of_last_status_update, treatment_plan, diagnosis, name, address, sex, age, risk_factors, comorbidities, past_diagnoses, past_procedures, medications, height_cm, weight_kg, blood_type, blood_pressure_systolic, blood_pressure_diastolic, body_temp, pulse, date_of_vitals_measurement, lab_results, date_of_lab_results, clinical_notes)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
""")

hospB_table_insert = ("""
    INSERT INTO hospB (patient_id, name, age, gender, ethnicity, medical_condition, symptoms, clinical_notes)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
""")

formB_table_insert = ("""
    INSERT INTO hospB (patient_id, name, age, gender, ethnicity, medical_condition, symptoms, clinical_notes)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
""")

# QUERY LISTS

drop_table_queries = [hospA_table_drop, formA_table_drop, orgData_table_drop, hospB_table_drop, formB_table_drop]
create_table_queries = [hospA_table_create, formA_table_create, orgData_table_create, hospB_table_create, formB_table_create]
insert_table_queries = [hospA_table_insert, formA_table_insert, orgData_table_insert, hospB_table_insert, formB_table_insert]

In [5]:
# dropping and creating tables
def drop_tables(cur, conn):
    """
    Drops each table using the queries in `drop_table_queries` list.
    """
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()


def create_tables(cur, conn):
    """
    Creates each table using the queries in `create_table_queries` list.
    """
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

def insert_tables(cur, conn):
    """
    Inserts entries in each table using the queries in `create_table_queries` list.
    """
    cur.execute(query)
    conn.commit()

def main():
    """
    - Drops (if exists) and Creates the medicaldb database. 
    
    - Establishes connection with the medicaldb database and gets
    cursor to it.  
    
    - Drops all the tables.  
    
    - Creates all tables needed. 
    
    - Finally, closes the connection. 
    """
    cur, conn = create_database()
    
    drop_tables(cur, conn)
    create_tables(cur, conn)

    conn.close()

if __name__ == "__main__":
    main()

## Defining the tables and their contents
*will need to edit the categories accordingly*

In [6]:
# calling the functions
cur, conn = create_database()

drop_tables(cur, conn) # dropping the tables to clear them out from previous runs
create_tables(cur, conn) # making new ones

# closing the connection
conn.close()

## Extracting, transforming, and loading the data (ETL)
*will need to change the password in the next cell as well as the fields in the last cell of this section*

In [7]:
# importing needed libraries and connecting
import os
import glob
import pandas as pd
from sql import *
conn = psycopg2.connect("host=127.0.0.1 dbname=medicaldb user=postgres password=ravioli")
cur = conn.cursor()

In [8]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.csv'))
        for f in files :
            all_files.append(os.path.abspath(f))
    return all_files

In [9]:
healthcare_files = get_files('data')
healthcare_files

['C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\datasetA in B form.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\datasetA in Our Format.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\datasetA.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\datasetB in A form.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\datasetB in Our Format.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\datasetB.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\Our Format.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\.ipynb_checkpoints\\datasetA in B form-checkpoint.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\.ipynb_checkpoints\\datasetA in Our Format-checkpoint.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\.ipynb_checkpoints\\datasetA-checkpoint.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\.ipynb_checkpoints\\datasetB-checkpoint.csv',
 'C:\\Users\\realg\\OneDrive\\Documents\\School\\SY24-25\\BEINFO\\FINALPROJECT\\data\\.ipynb_checkpoints\\Our Format-checkpoint.csv']

In [10]:
# processing data per csv
def process_data(cur, conn, filepath, func):
    # get all files matching extension from directory
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.csv'))
        for f in files :
            all_files.append(os.path.abspath(f))

    # get total number of files found
    num_files = len(all_files)
    print('{} files found in {}'.format(num_files, filepath))

    # iterate over files and process
    for i, datafile in enumerate(all_files, 1):
        func(cur, datafile)
        conn.commit()
        print('{}/{} files processed.'.format(i, num_files))
    return all_files

In [11]:
# processing files, extracting their rows, and adding them to their dataframes
def process_files(cur, filepath):

    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.csv'))
        for f in files :
            all_files.append(os.path.abspath(f))
    return all_files

In [12]:
# connecting to database
conn = psycopg2.connect("host=127.0.0.1 dbname=medicaldb user=postgres password=ravioli")
cur = conn.cursor()

# calling functions to add the data to the created tables
all_files = process_data(cur, conn, filepath='data', func=process_files)

12 files found in data
1/12 files processed.
2/12 files processed.
3/12 files processed.
4/12 files processed.
5/12 files processed.
6/12 files processed.
7/12 files processed.
8/12 files processed.
9/12 files processed.
10/12 files processed.
11/12 files processed.
12/12 files processed.

In [13]:
hospA_df = pd.read_csv(all_files[2], keep_default_na=False)
hospA_df.columns.tolist()

['patient_id',
 'age',
 'gender',
 'race',
 'height_cm',
 'weight_kg',
 'bmi',
 'blood_pressure_systolic',
 'blood_pressure_diastolic',
 'cholesterol_total',
 'cholesterol_hdl',
 'cholesterol_ldl',
 'smoker',
 'diabetes',
 'heart_disease',
 'medications',
 'procedures ']

In [14]:
hospB_df = pd.read_csv(all_files[3], keep_default_na=False)
hospB_df.columns.tolist()

['patient_id',
 'age',
 'gender',
 'ethnicity',
 'height_cm',
 'weight_kg',
 'bmi',
 'blood_pressure_systolic',
 'blood_pressure_diastolic',
 'cholesterol_total',
 'cholesterol_hdl',
 'cholesterol_ldl',
 'smoker',
 'diabetes',
 'heart_disease',
 'medications',
 'procedures ']

In [15]:
# files in the data folder should be arranged alphabetically
# INITIAL LOADING OF DATA:

hospA_df = pd.read_csv(all_files[2], keep_default_na=False)
for i in hospA_df.index:
    hospA_data = hospA_df[['patient_id', 'age', 'gender', 'race', 'height_cm', 'weight_kg', 'bmi', 'blood_pressure_systolic', 'blood_pressure_diastolic', 'cholesterol_total', 'cholesterol_hdl', 'cholesterol_ldl', 'smoker', 'diabetes', 'heart_disease', 'medications', 'procedures ']].values[i].tolist()
    cur.execute(hospA_table_insert, hospA_data)
    conn.commit()

hospB_df = pd.read_csv(all_files[5], keep_default_na=False)
for i in hospB_df.index:
    hospB_data = hospB_df[['patient_id', 'name', 'age', 'gender', 'ethnicity', 'medical_condition', 'symptoms', 'clinical_notes']].values[i].tolist()
    cur.execute(hospB_table_insert, hospB_data)
    conn.commit()

# only these two need to be loaded initially since formA, formB, and orgData will start off empty at first

## Data transfer
Remember:  
data from hospA in formatA -> our format -> data from hospA in formB  
data from hospB in formatB -> our format -> data from hospB in formA

***DO NOT FORGET TO COMMIT AFTER EACH STEP***

In [16]:
# accessing database
%sql postgresql://postgres:ravioli@127.0.0.1/medicaldb

In [17]:
# from hospB to orgData
%sql INSERT INTO orgData (name, age, sex, diagnosis, symptoms, clinical_notes) SELECT name, age, gender, medical_condition, symptoms, clinical_notes FROM hospB

#from orgData to formA
%sql INSERT INTO formA (age, gender, procedures) SELECT age, sex, clinical_notes FROM orgData

 * postgresql://postgres:***@127.0.0.1/medicaldb
1000 rows affected.
 * postgresql://postgres:***@127.0.0.1/medicaldb
1000 rows affected.

[]

## Using SQL to extract data from the tables
Proof that the database is constructed and working!

In [18]:
%sql SELECT * FROM hospB WHERE patient_id < 6

 * postgresql://postgres:***@127.0.0.1/medicaldb
5 rows affected.

[(1, 'Michelle Bass', 51, 'Male', 'Caucasian', 'None', 'no symptoms', 'Patient presents with symptoms of no symptoms associated with None.'),
 (2, 'Ashley Carpenter', 86, 'Female', 'Caucasian', 'COPD', 'wheezing', 'Patient presents with symptoms of wheezing associated with COPD.'),
 (3, 'Courtney Jones', 79, 'Male', 'Asian', 'None', 'no symptoms, no symptoms', 'Patient presents with symptoms of no symptoms, no symptoms associated with None.'),
 (4, 'Roy Combs', 71, 'Female', 'Other', 'COPD', 'chronic cough, chronic cough, wheezing, chronic cough', 'Patient presents with symptoms of chronic cough, chronic cough, wheezing, chronic cough associated with COPD.'),
 (5, 'Patrick Snow', 65, 'Male', 'Asian', 'Hypertension', 'headache, nosebleeds', 'Patient presents with symptoms of headache, nosebleeds associated with Hypertension.')]

In [19]:
%sql SELECT * FROM formA WHERE patient_id < 6

 * postgresql://postgres:***@127.0.0.1/medicaldb
5 rows affected.

[(1, 51, 'Male', None, None, None, None, None, None, None, None, None, None, None, None, None, 'Patient presents with symptoms of no symptoms associated with None.'),
 (2, 86, 'Female', None, None, None, None, None, None, None, None, None, None, None, None, None, 'Patient presents with symptoms of wheezing associated with COPD.'),
 (3, 79, 'Male', None, None, None, None, None, None, None, None, None, None, None, None, None, 'Patient presents with symptoms of no symptoms, no symptoms associated with None.'),
 (4, 71, 'Female', None, None, None, None, None, None, None, None, None, None, None, None, None, 'Patient presents with symptoms of chronic cough, chronic cough, wheezing, chronic cough associated with COPD.'),
 (5, 65, 'Male', None, None, None, None, None, None, None, None, None, None, None, None, None, 'Patient presents with symptoms of headache, nosebleeds associated with Hypertension.')]

In [21]:
%sql SELECT height_cm FROM hospA

 * postgresql://postgres:***@127.0.0.1/medicaldb
10 rows affected.

[(180,),
 (165,),
 (155,),
 (172,),
 (178,),
 (163,),
 (185,),
 (160,),
 (175,),
 (158,)]